
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>金科教育</title>
    <link type="image/x-icon" rel="icon" href="../roncoo/images/favicon.ico" />
    <link rel="stylesheet" href="../roncoo/css/login.css">
    <link rel="stylesheet" href="../bootstrap/bootstrap3/css/bootstrap.css">
    <script src="../bootstrap/jquery.min.js"></script>
    <script src="../bootstrap/bootstrap3/js/bootstrap.js"></script>
    <script src="../bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <script src="../roncoo/js/login.js"></script>
</head>
<body>
	<div class="login_box">
      <div class="login_l_img"><img src="../roncoo/images/login-img.png" height="440" width="500">
             </div>
      <div class="login">
          <div class="login_logo"><img src="../roncoo/images/login_logo.png" height="60" width="60">
                  </div>
          <div class="login_name">
               <p>金科教育系统</p>
          </div>
          <form id="userForm">
              <input name="username" type="text" value="13800000000" placeholder="用户名" >
              <input name="password" type="password" value="test" placeholder="密码" >
              <input value="登录" type="button" onclick="userLogin()">
          </form>
      </div>
      <div class="copyright">北京市金科教育项目组 版权所有©2015-2019</span></div>
</div>
</body>
<script>

</script>
</html>